doctype html
html
    head
        title #{profile.fullName} | IdentifyMe
        include includes/head
        link(rel='stylesheet', href='/css/profile.css')
    body
        include includes/navbar
        div.container.text-start.d-flex.justify-content-center.mt-5.mb-5
            div.card.profile-card
                div.profile-banner
                    img.card-img-top(src='/img/IdentifyMe-logo.png')
                div.card-body
                    div.row
                        div.col-4
                            div.row.mx-auto.justify-content-center
                                if profile.sex === 'Male'
                                    img.profile-image(src='/img/man-silhouette.jpg')
                                else
                                    img.profile-image(src='/img/female-silhouette.svg')
                        div.col-8.my-auto
                            div.row
                                div.col-5.fw-bold Identification Code
                                div.col-7 #{profile.code}
                            div.row
                                div.col-5.fw-bold Full Name
                                div.col-7 #{profile.fullName}
                            div.row
                                div.col-5.fw-bold Sex
                                div.col-7 #{profile.sex}
                            div.row
                                div.col-5.fw-bold Race
                                div.col-7 #{profile.race}
                            div.row
                                div.col
                                    br
                    div.row
                        if profile.entityName
                            div.col.text-center.fst-italic <b>#{profile.title} #{profile.fullName}</b> is a representative of <b>#{profile.entityName}</b>, registered with <span class="label">IdentifyMe</span>.
                        else
                            div.col.text-center.fst-italic <b>#{profile.title} #{profile.fullName}</b> is a registered individual with <span class="label">IdentifyMe</span>.